<div class="edit-article" ng-controller="editArticle" ng-init="editing = true">
  <h2>Edit this article:</h2>
  <form name="articleForm" role="form" ng-submit="saveArticle()">
    <div class="form-group">
      <label>Title:</label>
      <div id="title-editor" class="article form-control"></div>
    </div>
    <div class="form-group">
      <label>Content:</label>
      <div id="content-editor" class="article form-control"></div>
    </div>
    <button type="submit" class="btn btn-primary">Done editing</button>
    <a href="javascript:void(0)" class="btn btn-danger" role="button" ng-click="cancel(article._id)">Cancel</a>
  </form>
</div>
